# .gitignore 0.0.2                    UTF-8                   dh:2015-12-10
#
#                    FILES TO BE EXCLUDED FROM GIT ARCHIVING
#                    =======================================

# Windows image file caches
Thumbs.db
ehthumbs.db

# Folder config file
Desktop.ini

# Recycle Bin used on file shares
$RECYCLE.BIN/

# Windows Installer files
*.cab
*.msi
*.msm
*.msp

# Windows shortcuts
*.lnk

# The OSX Operating System exclusions have been eliminated since this is
# not happening on OSX.  These should be introduced only if needed.

# DEVELOPMENT INTERMEDIATE AND TEMPORARY FILES
# Development and build artifacts that do not need to be preserved and
# included in the repository and its clones.  These should be treated as
# ephemeral.

#   Exclude temporary files introduced by various utilities/editors
*#
*~

## - - - - - - - - - - - - - - -- - - - - - - - - - - - - - - - - - - -

# 0.0.2 2015-12-10-07:46 Also eliminate *# files from Git.
#       See if that actually works [;<).
# 0.0.1 2015-06-17-10:00 Customization for Orcmid
#       The jEdit *~ backup files are excluded from the archive
# 0.0.0 2015-06-16-17:31 Initial .gitignore
#       The Windows default .gitignore and .gitattributes were selected
#       on creation of the orcmid/DocInterop GitHub project.

#                   #### end of .gitignore ####
